.button{
background-color: white;
position: absolute;
z-index: 2;
float: left;
color: black;
border:0px;
border-style: solid;
box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
font-family: 'Roboto', sans-serif;
border-radius: 25px;
font-size: 15px;
}

.button:hover{
background-color: RGB(239,255,255);
cursor: pointer;
transform: translateY(-2%);
}

.basicbutton{
background-color: white;
position: absolute;
z-index: 2;
float: left;
color: black;
border:0px;
border-style: solid;
box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
font-family: 'Roboto', sans-serif;
border-radius: 25px;
font-size: 15px;
height: 80px;
width: 130px;
}

.butto{
  left: 50%;
  top: 20%;
  height: 60%;
  width: 8%;
  background-color: lightpink;
}

.button1{
left: 2%;
top: 20%;
text-align: center;
line-height: 0.8em;
height: 50px;
width: 50px;
font-size: 45px;
}

.button2{
left: 10%;
top: 20%;
height: 60%;
width: 8%;
}

.button3{
left: 60%;
top: 20%;
height: 60%;
width: 8%;
}

.button4{
left: 70%;
top: 20%;
height: 60%;
width: 8%;
}

.button5{
left: 80%;
top: 20%;
height: 60%;
width: 8%;
}

.button6{
left: 90%;
top: 20%;
height: 50px;
width: 50px;
line-height: 0.8em;
}
        
.dropdown {
position: absolute;
display: inline-block;
left: 4%;
top: 20%;
}
          
.dropdown-content {
display: none;
position: absolute;
margin-top: 50px;
background-color: #f1f1f1;
min-width: 160px;
overflow: auto;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}
          
.dropdown-content a {
color: black;
border: 1px;
padding: 12px 16px;
text-decoration: none;
display: block;
}
          
.dropdown a:hover {background-color: #ddd;}
          
.show {display: block;}

.dropdown2 {
position: absolute;
float: right;
left: 90%;
top: 20%;
}
          
.dropdown-content2 {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 160px;
overflow: auto;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
margin-top: 50px;
}
          
.dropdown-content2 a {
color: black;
border: 1px;
text-decoration: none;
display: block;
}
          
.dropdown2 a:hover {background-color: #ddd;}
          
.show2 {display: block;}

.dropdown3 {
position: absolute;
float: right;
left: 90%;
top: 20%;
}
          
.dropdown-content3 {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 160px;
overflow: auto;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
margin-top: 42px;
}
          
.dropdown-content3 a {
color: black;
border: 1px;
text-decoration: none;
display: block;
}
          
.dropdown3 a:hover {background-color: #ddd;}
          
.show3 {display: block;}

.Chat{
border-radius: 50%;
border: 1px;
height:40px;
width: 40px;
position: absolute;
box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
background-size: cover;
}

.Chat:hover{
cursor: pointer;
transform: translateY(-2%);
}

.Chat0{
top: 20%;
left: 92%;
background-image: url(Bilder/Chat.png);
}
      
.Chat1{
top: 28%;
left: 92%;
background-image: url(Bilder/Chat1.png);
}
      
.Chat2{
top: 36%;
left: 92%; 
background-image: url(Bilder/Chat2.png);
}
      
.ChatAdd{
top: 44%;
left: 92%;
}

.ChatButton{
height:100%;
width: 100%;
line-height: 0.8em;
}

.UgeBut{
border-color: rgb(14, 78, 67) ;
opacity: 0.8;
border-width: 0 3px 3px 0;
display: inline-block;
padding: 3px;
background-color: inherit;
top: 18px;
position: absolute;
}

.UgeBut:hover{
cursor: pointer;
border-color: white;
}

.UgeBut1{
transform: rotate(-45deg);
left: 12%;
}

.UgeBut2{
transform: rotate(135deg);
left: 4.5%;
}

.LektierBut{
border-radius: 25%;
margin-left: 5px;
}

.AfleveringBut{
border-radius: 25%;
margin-left: 5px;
}

.MødeBut{
border-radius: 25%;
margin-left: 5px;
}

.circe {
border-radius: 50%;
border: 1px;
border-style: solid;
height: 15px;
width: 15px;
z-index: 3;
position: absolute;
}

.statan{
left: 86%;
top: 24%;
background-color: rgb(55, 55, 214);
}

.statha{
left: 86%;
top: 52%;
background-color: rgb(37, 179, 37);
}

.exsysan{
left: 66%;
top: 24%;
background-color: rgb(55, 55, 214);
}

.exsysha{
left: 66%;
top: 52%;
background-color: rgb(37, 179, 37);
}

.coman{
left: 76%;
top: 24%;
background-color: rgb(55, 55, 214);
}

.comha{
left: 76%;
top: 52%;
background-color: rgb(37, 179, 37);
}
