.button1{
    height: 60px;
    width: 60px;
    background-color: inherit;
    border-radius: 50%;
    border: 2px; 
    margin-top: 6px;
    margin-left: 15px;
    margin-bottom: 10px;
    line-height: 0.80em;
    font-size: 60px;
    cursor: pointer;
    color: black;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    font-family: 'Roboto', sans-serif;
    }
    
.button1:hover {
    
        background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
      );
        color: black;
    }
    
    .dropdown {
        position: relative;
        display: inline-block;
      }
    
      .dropdown-content {
        display: none;
        position: absolute;
        background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
        
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
    
      .dropdown-content a {
        color: black;
        border: 1px;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
    
      .dropdown-content a:hover {background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
      );}
    
      .show {display:block;}
    
    
      .button2{
        position: relative;
        height: 60px;
        width: 110px;
        background-color: inherit;
        border-radius: 25px;
        border: 2px;
        font-size: 15px;
        cursor: pointer;
        color: black;
        margin-bottom: 10px;
        margin-left: 70px;
        margin-top: 6px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
        font-family: 'Roboto', sans-serif;
        
      }
    
    .vl{
    border-right: 4px solid whit;
    height: 76px;
    width: 1px;
    margin-left: 650px;
    display: inline-block;
    position: absolute;
    }
        
        
        .button2:hover {
        
            background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
      );
      color: black;
            transform: translateY(-1px);
        }

        .button3{
        position: absolute;
        height: 60px;
        width: 110px;
        background: inherit;
        border-radius: 25px;
        border: 2px; 
        font-size: 15px;
        cursor: pointer;
        color: black;
        margin-bottom: 10px;
        margin-left: 700px;
        margin-top: 6px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
        font-family: 'Roboto', sans-serif;
        
            
            }
            
            .button3:hover {
            
                background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
      );
      color: black;
            transform: translateY(-1px);
            }
    
            .button4{
        position: absolute;
        height: 60px;
        width: 110px;
        background: inherit;
        border-radius: 25px;
        border: 2px; 
        font-size: 15px;
        cursor: pointer;
        color: black;
        margin-bottom: 10px;
        margin-left: 820px;
        margin-top: 6px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
        font-family: 'Roboto', sans-serif;
                
            
    }
                
    .button4:hover {
                
        background: linear-gradient(
            to right bottom,
            rgba(255, 255, 255, 0.7),
            rgba(255, 255, 255, 0.3)
          );
          color: black;
                transform: translateY(-1px);
    }
    
    .button5{
    position: absolute;
    height: 60px;
    width: 110px;
    background: inherit;
    border-radius: 25px;
    border: 2px; 
    font-size: 15px;
    cursor: pointer;
    color: black;
    margin-bottom: 10px;
    margin-left: 940px;
    margin-top: 6px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    font-family: 'Roboto', sans-serif;
                    
                
                    
                    }
                    
                    .button5:hover {
                    
                        background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
      );
      color: black;
            transform: translateY(-1px);
                    }
    
                    .button6{
        position: absolute;
        height: 60px;
        width: 110px;
        background: inherit;
        border-radius: 25px;
        border: 2px; 
        font-size: 15px;
        cursor: pointer;
        color: black;
        margin-bottom: 10px;
        margin-left: 1150px;
        margin-top: 6px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
        font-family: 'Roboto', sans-serif;
                        
                    
                        
    }
                        
    .button6:hover {
                        
        background: linear-gradient(
            to right bottom,
            rgba(255, 255, 255, 0.7),
            rgba(255, 255, 255, 0.3)
          );
          color: black;
                transform: translateY(-1px);
    }
    
    
                    .dropdown2 {
                        position: absolute;
                        float: right;
                        margin-right: 160px;
                        margin-top: 75px;
                      }
                    
                      .dropdown-content2 {
                        display: none;
                        position: absolute;
                        background: linear-gradient(to right, #7d7e7d 0%,#0e0e0e 100%);
                        
                        min-width: 160px;
                        box-shadow: 0px 8px 16px 0px rgba(255,0,0,0.2);
                        z-index: 1;
                      }
                    
                      .dropdown-content2 a {
                        color: black;
                         border: 1px;
                        text-decoration: none;
                        display: block;
                      }
                    
                      .dropdown-content2 a:hover {
                        background: linear-gradient(
                        to right bottom,
                        rgba(255, 255, 255, 0.7),
                        rgba(255, 255, 255, 0.3)

                      );}
                      .show2 {display:block;}