

.M{
    border: 1px;
    border-style: solid;
    border-color: white;
    border-top: 0px; 
    grid-column: 2;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
      );
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.0);
      font-family: 'Roboto', sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      
      color: rgb(54, 159, 167) ;
      opacity: 0.8;
}
.T{
    border: 1px;
    border-style: solid;
    border-color: white; 
    grid-column: 3;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
      );
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.0);
      font-family: 'Roboto', sans-serif;
      display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(54, 159, 167) ;
      opacity: 0.8;
      
    
}
.O{
    border: 1px;
    border-style: solid;
    border-color: white; 
    grid-column: 4;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
      );
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.0);
      font-family: 'Roboto', sans-serif;
      display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(54, 159, 167) ;
      opacity: 0.8;
    
    
}
.T1{
    border: 1px;
    border-style: solid;
    border-color: white; 
    grid-column: 5;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
      );
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.0);
      font-family: 'Roboto', sans-serif;
      display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(54, 159, 167) ;
      opacity: 0.8;
   
}
.F{
    border: 1px;
    border-style: solid;
    border-color: white; 
    grid-column: 6;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
      );
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.0);
      font-family: 'Roboto', sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      color: rgb(54, 159, 167) ;
      opacity: 0.8;
}
.S{
    border: 1px;
    border-style: solid;
    border-color: white; 
    grid-column: 7;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
      );
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.0);
      font-family: 'Roboto', sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      color: rgb(54, 159, 167) ;
      opacity: 0.8;
}
.S1{
    border: 1px;
    border-style: solid;
    border-color: white; 
    grid-column: 8;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
      );
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.0);
      font-family: 'Roboto', sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      color: rgb(54, 159, 167) ;
      opacity: 0.8;
}

.t1{
    border: 1px;
    border-style: solid;
    border-color: white; 
    grid-column: 1;
    grid-row: 2 / 2;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
      );
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.0);
      font-family: 'Roboto', sans-serif;
      display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(54, 159, 167) ;
      opacity: 0.8;
}
.t2{
    border: 1px;
    border-style: solid;
    border-color: white; 
    grid-column: 1;
    grid-row: 3 / 3;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
      );
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.0);
      font-family: 'Roboto', sans-serif;
      display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(54, 159, 167) ;
      opacity: 0.8;

}

.t3{
    border: 1px;
    border-style: solid;
    border-color: white; 
    grid-column: 1;
    grid-row: 4 / 4; 
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
      );
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.0);
      font-family: 'Roboto', sans-serif;
      display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(54, 159, 167) ;
  opacity: 0.8;
    
}
.t4{
    border: 1px;
    border-style: solid;
    border-color: white; 
    grid-column: 1;
    grid-row: 5 / 5;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
      );
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.0);
      font-family: 'Roboto', sans-serif;
      display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(54, 159, 167) ;
      opacity: 0.8;
}
.t5{
    border: 1px;
    border-style: solid;
    border-color: white; 
    grid-column: 1;
    grid-row: 6 / 6;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
      );
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.0);
      font-family: 'Roboto', sans-serif;
      display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(54, 159, 167) ;
      opacity: 0.8;
}
.t6{
    border: 1px;
    border-style: solid;
    border-color: white; 
    grid-column: 1;
    grid-row: 7 / 7;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
      );
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.0);
      font-family: 'Roboto', sans-serif;
      display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(54, 159, 167) ;
      opacity: 0.8;
}
.t7{
    border: 1px;
    border-style: solid;
    border-color: white; 
    grid-column: 1;
    grid-row: 8 / 8;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
      );
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.0);
      font-family: 'Roboto', sans-serif;
      display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(54, 159, 167) ;
      opacity: 0.8;
}
.t8{
    border: 1px;
    border-style: solid;
    border-color: white; 
    grid-column: 1;
    grid-row: 9 / 9;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
      );
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.0);
      font-family: 'Roboto', sans-serif;
      display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(54, 159, 167) ;
      opacity: 0.8;
}



.Z{
    
    border: 1px;
    border-style: solid;
    border-color: white;
    
    background: inherit;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    }

.Uge{
    border: 1px;
    border-style: solid;
    border-color: white; 
    grid-column: 1;
    grid-row: 1 / 1;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
      );
      font-family: 'Roboto', sans-serif;
      display: flex;
      color: rgb(54, 159, 167) ;
      opacity: 0.8;
     
      
  justify-content: center;
  align-items: center;
  opacity: 0.7;
}


.ExSys{
    border: 1px;
    border-style: solid;
    border-color: white; 
    grid-column: 4;
    grid-row: 4 / 4;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
      );
      font-family: 'Roboto', sans-serif;
      display: flex;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.0);
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 10px;
}
.ExSys1{
  border: 1px;
  border-style: solid;
  border-color: white; 
  grid-column: 2;
  grid-row: 3 / 4;
  background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    );
    font-family: 'Roboto', sans-serif;
    display: flex;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.0);
justify-content: center;
align-items: center;
height: 100%;
font-size: 10px;
}
.ExSys2{
  border: 1px;
  border-style: solid;
  border-color: white; 
  grid-column: 5;
  grid-row: 5 / 6;
  background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    );
    font-family: 'Roboto', sans-serif;
    display: flex;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.0);
justify-content: center;
align-items: center;
height: 100%;
font-size: 10px;
}
.ExSys3{
  border: 1px;
  border-style: solid;
  border-color: white; 
  grid-column: 6;
  grid-row: 4 / 4;
  background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    );
    font-family: 'Roboto', sans-serif;
    display: flex;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.0);
justify-content: center;
align-items: center;
height: 100%;
font-size: 10px;
}

.Aflevering{
  border: 1px;
  border-style: solid;
  border-color: white; 
  grid-column: 6;
  grid-row: 9 / 9;
  background: linear-gradient(to bottom, #ff3019 0%,#cf0404 100%);
    font-family: 'Roboto', sans-serif;
    display: flex;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.0);
justify-content: center;
align-items: center;
height: 100%;
font-size: 10px;
}

.Møde{
  border: 1px;
  border-style: solid;
  border-color: white; 
  grid-column: 3;
  grid-row: 7 / 7;
  background: linear-gradient(to bottom, #ffd65e 0%,#febf04 100%);
    font-family: 'Roboto', sans-serif;
    display: flex;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.0);
justify-content: center;
align-items: center;
height: 100%;
font-size: 10px;
}