body{
  background-color: #f9fcfc;
  margin: 0 auto;
  height: 200vh;
}

.navbar{
  position: fixed;
  width: 100%;
  height: 70px;
  background-color: #403F3F;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: lighter;
  font-size: 25px;
  color: white;
  text-align: center;
  z-index: +5;
}

.navbar div{
  height: 70px;
}

.container {
  margin-top: 62px;
  width: 100%;
  float: left;
  display: grid;
  grid-template-columns: [first] 6% [line2] 21% [line3] 21% [line4] 21% [line5] 21% [line6] 30% [end];
  grid-template-rows: [row1-start] auto [row1-end] auto
   [row2-start] auto [row2-end] auto [row3-start] auto [row3-end] auto [row4-start] auto [row4-end] auto 
   [row5-start] auto [row5-end] auto [row6-start] auto [row6-end] auto [row7-start] auto [row7-end] auto [row8-start] auto [row8-end] auto [row9-start] auto [row9-end] auto  [last-line];
}

.exsys{
  float: left;
  width: 21%;
}
.exsys:hover, .comark:hover, .stat:hover, .home:hover{
  background-color: #f9fcfc;
  color: #403F3F;
}
.home:hover .homeimg{
  background-image: url("/static/Bilder/home.svg");
}

.comark{
  float: left;
  width: 20.8%;
}
.stat{
  float: left;
  width: 20.9%;
}

.menu, .kalenderimg{
  float: right;
}

.home{
  background-color: #f9fcfc;
  float: left;
  width:5.9%;
  height: 70px;
  align-items: center;
}

.homeimg{
  grid-column: 1;
  grid-row: 1;
  width: 35px;
  height: 35px;  
  margin-top: 17px;
}

.exsys, .comark, .stat, .homeimg, .menuimg, .menu{
  cursor: pointer;  
}

.exsys p, .comark p, .stat p{
  margin-top: 20px;
}


.kalenderimg{
  display: grid;
  grid-column: 5;
  grid-row: 1;
  justify-self: end;
  height: 35px;
  width: 35px;
  margin-top: 16px;
  margin-right: 50px;

}


.toLogo, .litteraturLogo, .forelæsningLogo{
  height: 40px;
  width: 40px;
  margin-top: 75px;
  justify-self: center;

}

.topgab { display: grid; grid-column: 1; grid-row: 2;}
.topgab2 { display: grid; grid-column: 2; grid-row: 2;}
.topgab3 { display: grid; grid-column: 3; grid-row: 2;}
.topgab4 { display: grid; grid-column: 4; grid-row: 2;}
.topgab, .topgab2, .topgab3, .topgab4{
  height: 5px;
  background-color: #EAF4F4;
}
/*
.relaviteLinks{
  display: flex;
  grid-column: 2/6;
  grid-row: 7;
  width: 100%;
}
*/

#ResoursesHeadline{
  grid-column: 2/5;
  grid-row: 7;
  width: 100%;
}

#ResoursesHeadline p{
  margin-top: 75px;
  margin-bottom: 8px;
  font-size: 40px;
  justify-self: stretch;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: lighter;
    color:#999999;
}

#AULibrary{
  grid-column: 2/5;
  grid-row: 8;
  width: 100%;
}

#AULibrary input{
  position: relative;
  width: 50%;
  float: right;
  height: 35px;
  border-radius: 15px;
  margin-top: 12px;
  margin-right: 12px;
  font-size: 20px;
}
#ExamRegistration{
  grid-column: 2/5;
  grid-row: 9;
  width: 100%;
}

#ExamRegistration #eksamRegDeadline{
  float: right;
  font-size: 16px;
  margin-top: 36px;
  margin-right: 12px;
}

#STADS{
  grid-column: 2/5;
  grid-row: 10;
  width: 100%;
}

#MoveOn{
  grid-column: 2/5;
  grid-row: 13;
  width: 100%;
}

#StudyCard{
  grid-column: 2/5;
  grid-row: 12;
  width: 100%;
}

#Contactbook{
  grid-column: 2/5;
  grid-row: 11;
  width: 100%;
}


.LinksButtons{
  margin-top: 25px;
  width: 100%;
  background-color: #f5f5f5;
  border-radius: 18px;
  border-style: solid;
  border-width: thin;
  border-color: #6d6d6d;
  height: 72px;
  box-shadow: 0px 5px 6px rgba(49, 49, 49, 0.2);
  cursor: pointer;
}

.LinksButtons:hover{
  background-color: #ffffff;
}

.LinksButtons p {
  float: left;
  margin-left: 30px;
  margin-top: 18px;
  font-size: 25px;
  justify-self: stretch;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: lighter;
    color:#4e4e4e;
}

.pil{
  background-image: url("/static/Bilder/pil.svg");
  background-repeat: no-repeat;
  height: 45px;
  width: 20px;
  margin-top: 17px;
  margin-right: 12px;
  background-size: 15px;

  float: right;
}



.to { display: grid; grid-column: 1; grid-row: 4;}

.toEks{ display: grid; grid-column: 2; grid-row: 4; justify-items: center;}

.toCom{ display: grid; grid-column: 3; grid-row: 4; justify-items: center;}

.toStat{ display: grid; grid-column: 4; grid-row: 4; justify-items: center;}

.litteratur { display: grid; grid-column: 1; grid-row: 3;}

.litteraturEks{ display: grid; grid-column: 2; grid-row: 3; justify-items: center;}

.litteraturCom{ display: grid; grid-column: 3; grid-row: 3; justify-items: center;}

.litteraturStat{display: grid; grid-column: 4; grid-row: 3; justify-items: center;}

.forelæsning{display: grid; grid-column: 1; grid-row: 5; }

.forelæsningEks{display: grid; grid-column: 2; grid-row: 5; justify-items: center;}

.forelæsningCom{display: grid; grid-column: 3; grid-row: 5; justify-items: center;}

.forelæsningStat{display: grid; grid-column: 4; grid-row: 5; justify-items: center;}

.forelæsningStat, .forelæsningCom, .forelæsningEks, .forelæsning{
  background-color: #A4C3B2;
}

.litteratur, .litteraturCom, .litteraturEks, .litteraturStat{
  background-color: #EAF4F4;
}

.to, .toCom, .toEks, .toStat{
  background-color: #CCE3DE; 
}

.forelæsningStat, .forelæsningCom, .forelæsningEks, .forelæsning, .litteratur, .litteraturCom, .litteraturEks, .litteraturStat, .to, .toCom, .toEks, .toStat, .exsys, .comark, .stat, .home{
border-right: 0.1px solid #b1b1b1;
}

  .basicbutton{
    margin-top: 31px;
    margin-bottom: 31px;
    background-color: inherit;
    z-index: 2;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    height: 150px;
    width: 90%;
    text-align: center;
    }
  
  .basicbutton h4, .basicbutton h3, .basicbutton p{
    justify-self: stretch;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: lighter;
    color:#4e4e4e;
  }  

  .basicbutton h3{
    font-size: 30px;
    margin-top: -17px;
  }

  .basicbutton h4{
    font-size: 17px;
    margin-top: 13px;
    overflow: hidden;
  }

  .basicbutton p{
    font-size: 15px;
    margin-top: -20px;
  }
    
.scroll{
  height: 1000px;
  display: grid; grid-column: 2; grid-row: 6; justify-items: center;
}

.dropdown {
  display: inline-block;
  left: 4%;
  top: 20%;
  }
            
  .dropdown-content {
  display: none;
  margin-top: 50px;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  }
            
  .dropdown-content a {
  color: black;
  border: 1px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  }
            
  .dropdown a:hover {background-color: #ddd;}
            
  .show {display: block;}
  
            
  .dropdown-content2 {
  display: none;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 50px;
  }
            
  .dropdown-content2 a {
  color: black;
  border: 1px;
  text-decoration: none;
  display: block;
  }
            
  .dropdown2 a:hover {background-color: #ddd;}
            
  .show2 {display: block;}
  
  .dropdown3 {
    left: 90%;
    top: 20%;
  }
            
  .dropdown-content3 {
  display: none;
  background-color: #f1f1f1;
  overflow: hidden;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color:#727272;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1; 
  grid-column: 6;
  grid-row: 4/6;
  width: 5%;
  height: 5%;
  margin-top: 36%;
  margin-left:94.5%;
  position: fixed;
  }
            
  .dropdown-content3 a {
  color: black;
  border: 1px;
  text-decoration: none;
  display: block;
  font-size: 15px;
  }
            
  .dropdown-content3:hover {
    
    background-color: #ddd;
  }
            
  .show3 {display: block;}

 .deadlines{
  display: inline-block;
  grid-column: 5;
  grid-row: 2/7;
  overflow: auto;
  /*box-shadow: inset 0px -10px 20px -10px rgb(194, 194, 194);*/
  }


  .deadlines h5{
    font-family: Helvetica, Arial, sans-serif;
    font-weight: lighter;
    font-size: 25px;
    color: black;
    text-align: center;
    margin-bottom: -13px;
  }

  .deadlineButton h4{
    margin: 0px;
    margin-top: 9px; 
    font-size: 12px;
  }
  .deadlineButton h3{
    margin-top: 2px;
    margin-bottom: 1px;
    margin: none;
    font-weight: 200; 
    font-size: 20px;
  }
  .deadlineButton p{
    font-size: 10px;
    margin-top: 4px;
    margin-bottom: 1px;
    margin: none;
    margin-top: 5px; font-weight: 700; font-size: 12px;
  }

  .space{
    height: 100px;
    width: 75%;
    padding-top: 5px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  

  .rest{
    margin: 0px;
    margin-top: 3px;
    height: 80%;
    width: 80%;
  }
  */

  .bund{
    grid-column: 1/5;
    grid-row: 7;
  }

  
  .Chat{
    display: grid;
    background-size: cover;
    border-radius: 50px;
    height: 55px;
    width: 55px;
    float: right;
    position: fixed;
    right: 0;
    margin-right: 20px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    }
    
  .Chat:hover{
    cursor: pointer;
    transform: translateY(-2%);
    }
    
  .Chat1{
   margin-top: 17%;
  }
          
  .Chat2{
    margin-top: 22%;
    }

    .Chat3{
      margin-top: 27%; 
      }

.Chat4{
  margin-top: 32%;
}
    

    .ChatButton{
    line-height: 0.8em;
    color: black;
    border:0px;
    border-style: solid;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    font-family: 'Roboto', sans-serif;
    border-radius: 25px;
    font-size: 15px;
    height: 50px;
    width: 50px;
    }

    .ChatButton:hover{
      cursor: pointer;
      transform: translateY(-2%);
      }
    

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  left:70%;
  border: 3px solid #f1f1f1;
  z-index: 9;
  background-color: white;
  height: 50%;
  width: 22%;
  bottom: 0%;
border-radius: 25px;

}

/* Add styles to the form container */
.form-container {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color:#727272;
 max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: white;
  color: black;
  border: 0.2px solid #6d6d6d;
  padding: 16px 20px;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the Chat button */
.form-container .cancel {
top: 5%;
position: absolute;
font-size: x-large;
}

/* Add some hover effects to Chatbuttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.form-container .cancel:hover{
  cursor: pointer;
  
} 
    
  
/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 50px;
  font-weight: bold;
  font-weight: lighter;
  margin-top: 40px;
  margin-right: 30%;
}
.small-pop-up-closebox{
  position: fixed;
  top: 61px;
  right: 29%;
  height: 100px;
  width: 7%;
}
.small-pop-up-closebox:hover{
  top: 56px;
  right: 28.9%;
}

.closebox{
  position: fixed;
  top: 70px;
  right: 7.5%;
  height: 100px;
  width: 7%;
  cursor: pointer;
}

.closebox:hover .close, .small-pop-up-closebox:hover .close{
  color: rgb(70, 70, 70);
  text-decoration: none;
  cursor: pointer;
  font-size: 58px;
 
}
.closebox:hover{
  top: 65px; 
  right: 7.4%;
}


form{
  margin-top: 0px;
  margin-bottom: 0px;
  height: 0px;
}

.navbar{
  position: fixed;
  width: 100%;
  height: 70px;
  background-color: #403F3F;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: lighter;
  font-size: 25px;
  color: white;
  text-align: center;
  z-index: +5;
 }
  
 .navbar div{
  height: 70px;
 }
  
 .menubox{
  margin-top: 70px;
  position: fixed;
  background-color: #403F3F;
  height: 100%;
  width: 0px;
  right: 0;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  border-left: 0.1px solid #ffffff;
  border-top: 0.1px solid #ffffff;
  z-index: 10;
 }
  
 .menubox p{
  font-size: 25px;
  color: rgb(255, 255, 255);
  font-family: Helvetica, Arial, sans-serif;
  font-weight: lighter;
  margin-left: 50px;
  margin-top: 30px;
  white-space: nowrap;
 }
  
 .menubox.menuexpand {
  width: 31%;
 }

 .menuimg{
  width: 42px;
  height: 42px; 
  justify-self: end;
  margin-top: 10px;
  margin-right: 15px;
  content:url("/static/Bilder/menu.svg");
  transition: opacity 0.2 ease;
 }
  
 .menuimg.menuimgexpand {
  opacity: 100;
  content:url("/static/Bilder/cros.svg");
 }

 .videobutton{
  float: right;
  background-size: cover;
  background-position-x: center;
  height: 30px;
  width: 30px;
  margin-right: 25%;
 }

 .documentbutton{
  float: left;
  background-size: cover;
  background-position-x: center;
  height: 30px;
  width: 30px;
  margin-left: 25%;
 }

 .groupsh1{
  right: 0; 
  position: fixed;
  margin-top: 2%;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color:#727272;
  margin-right: 15px;
 }
 .Groups{
    background-size: cover;
    height: auto;
    width: 100px;
    right: 0; 
    position: fixed;
    margin-top: 4%;
    box-shadow: #000;
    text-align: center;
    justify-self: stretch;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: lighter;
    color:#4e4e4e;
    font-size: 20px;
    border: 0.2px solid #6d6d6d;
 }

 .Groups1{
  margin-top: 10%;
  
 }

 .Groups:hover{
  transform: translateY(-1px);
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);


 }
 .kalenderfremogtilbage{
  justify-self: center;
  text-align: center;
  height: 35px;
  grid-row: 6;
  border: 0.2px solid #6d6d6d;
  width: 100%;
 }

 .kalenderfremogtilbage:hover{
   background-color: #6d6d6d;
   cursor: pointer;
 }
 
 .kalenderfremogtilbage:hover .arrowIcon{
  background-image: url("/static/Bilder/nextHvid.svg");
 }
  
 .weeknumber:hover{
  background-color: inherit;
  cursor:inherit;
 }

 .kalenderfremogtilbage p{
  font-size: 19px;
  font-family: Helvetica, Arial, sans-serif;
  color: #4e4e4e;
  margin-top: 6px;
 }

 .weeknumber{
   grid-column: 3/4;
   border-left: none;
   border-right: none;
 }

 .back{
   grid-column: 2/3;
  }
   
 .arrowIcon{
  height: 22px;
  width: 22px;
  background-image: url("/static/Bilder/next.svg"); 
  background-repeat: no-repeat;
  margin-left: 48%;
  margin-top: 6px;
  transform: rotate(180deg);
 } 
 .right{
  transform: rotate(0deg);
 } 



.front{
  grid-column: 4/5;
}

.Weeknumber{
  width: 40%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  margin-top: 20px;
  background-color: white;
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: lightgray; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: grey; 
}

.topinfo{
  background-color: #F4F4F4;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    color: #6d6d6d;
    border:0.2px;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 80%;
    cursor: pointer;
}

.topinfo:hover{
  background-color: #ffffff;
}

.quicklinks{
  background-color: #fafafa;
  display: flex;
  height: auto;
  width: 100%;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  color: #6d6d6d;
  border:0.2px;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  border-top-style: solid;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.litv{
  border-top-style: none;
  background-color:#F4F4F4;
  box-shadow: 6px 15px 20px rgba(0, 0, 0, 0.1);
}


.BorderVid{
width: 50%;
}

.BorderVidlit{
  width: 50%;
  }

.BorderUp{
  width: 50%;
  }

.border{
  background-color: #6d6d6d;
  width: 0.2px;
  z-index: 3;
}

.BorderDoc{
  flex: 1;
}

.lit{
  border-left-style: solid;
  border-top-style: solid;
  border-left-width: thin;
  border-top-width: thin;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #fafafa;
}

.clicked{
  background-color: #5EA0F4;
  border-bottom-right-radius: 10px;
}

.videobutton{
margin-right: 40%;
margin-top: 2%;
background-image: url("/static/Bilder/video-icon.svg");
}

.UPbutton{
  margin: 0 auto;  
  margin-top: 4%;
  background-image: url("/static/Bilder/upload-iconSort.svg");  
  height: 23px;
  width: 20px;
}

.documentbutton{
  margin-left: 40%;
  margin-top: 4%;
  background-image: url("/static/Bilder/dokumentblaa.svg");
  background-size: 80%;
  background-repeat:no-repeat;
}

.documentbuttonClicked{
  background-image: url("/static/Bilder/dokumentHVID.svg");
}

.BorderVid:hover{
cursor: pointer;
background-color:#F88A6F;
border-bottom-left-radius: 12px;
  }

  .BorderVid:hover .videobutton{
    background-image: url("/static/Bilder/video-cameraHVID.svg");
      }

    .BorderUp:hover{
        cursor: pointer;
        background-color:#A7D9B1;
        border-bottom-left-radius: 10px;
          }
        
          .BorderUp:hover .UPbutton{
            background-image: url("/static/Bilder/upload-iconWhite.svg");
            background-repeat:no-repeat;
            background-size: 20px
              }

.BorderDoc:hover{
  cursor: pointer;
  background-color:#5EA0F4;
  border-bottom-right-radius: 10px;
  }

  .BorderDoc:hover .documentbutton{
    background-image: url("/static/Bilder/dokumentHVID.svg");
  }

.contactButton{
  top: 92.1%;
  right: 7.9%;
  position: fixed;
  border-left-style: solid;
  border-top-style: solid;
  border-left-width: thin;
  border-top-width: thin;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 22px;
  background-color: #fafafa;
  width: 10%;
  text-align: center;
}

.contactButton:hover{
  background-color:#6d6d6d;
  cursor: pointer;
  color: #fafafa;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 5; /* Sit on top */
  left: 0%;
  top: 70px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-size: auto;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: lighter;
  background-color: rgba(146, 146, 146, 0.5);
}


/* Modal Content */
.modal-content {
  background-color: #fdfdfd;
  margin-top: 25px;
  margin-left: 7%;
  height: 70%;
  padding: 5%;
 border-radius: 25px;
  border: 1px solid #888;
  width: 75%;
  overflow: auto; /* Enable scroll if needed */
  font-size: 18px;
  color: rgb(94, 94, 94);
}

.docs{
  height: auto;
  width: 40%;
  margin-left: 20%;
  overflow:hidden;
}
.headlinedocs{
  padding: 0px;
  width: 80%;
  position: relative;
  margin-top: -80px;
  font-size: 40px;
  justify-self: stretch;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color:#4e4e4e;
}

.continue{
  background-color: #fdfdfd;
  height: 55px;
  width: 45%;
  margin-left: 0%;
  margin-top: 30px;
  margin-bottom: -50px;
  border-radius: 10px;
  border: 1px solid #888;
  text-align: center;
  font-size: x-large;
  line-height: 55px;
  cursor: pointer;
  text-decoration: none;
}

#clickOffPopUp{
  display: flex;
  float: right;
  margin-right: -15px;
  margin-bottom: -50px;
}
#clickOffPopUp div{
  flex: 1;
  height: 16px;
  width: 16px;
  background-color: inherit;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(94, 94, 94);
  margin-top: 27px;
  margin-left: 14px;
}
#clickOffPopUp p{
  margin-top: 27px;
}
#clickOffPopUp div:hover{
  background-color: #A7D9B1;
  cursor: pointer;
}



.choosefile{
  margin-left: 0%;
}

#yourBtn {
  margin-top: -60px;
  position: relative;
  top: 75px;
  width: 50%;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 1px dashed #BBB;
  text-align: center;
  background-color: #DDD;
  cursor: pointer;
  height: 80px;
  line-height: 80px;
}
#yourBtn:hover{
  background-color: #fdfdfd;
}


.send{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  margin-top: 120px;
  position: relative;
  width: 20%;
  float:left;
  text-decoration: none;
  color: #4e4e4e;
  margin-left: 0px;
}

.continue:hover{
  color: white;
  background-color: #888;
}

.uploadclicked{
  background-color: #A7D9B1;
  border-bottom-left-radius: 10px;
}

.uploadclickedicon{
  background-image: url("/static/Bilder/uploadCheck.svg");
  background-repeat: no-repeat;
  background-size: 20px;
}

.modal-content .information{
  width: 64%;
  height: auto;
  overflow: auto;
  position: relative;
  margin-top: -20px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color:#4e4e4e;
  font-size: 18px;
  line-height: 1.4;
}

.docsinfo{
  width: 100%;
  height: auto;
  overflow: auto;
  position: relative;
  margin-top: -20px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color:#4e4e4e;
  font-size: 18px;
  line-height: 1.4;
}

.modal-content .small{
  font-size: 20px;
  font-family: Helvetica, Arial, sans-serif;
  width: 40%;
  position: relative;
  margin-top: -30px;
  opacity: 50%;
  font-weight: lighter;
  
}
.headline{
  padding: 0px;
  width: 80%;
  position: relative;
  margin-top: -28px;
  font-size: 40px;
  justify-self: stretch;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color:#4e4e4e;
}

.files{
height: 15%;
width: 14%;
margin-right:1px;
left: 72.5%;
position: absolute;
color:#4e4e4e;
}

.Resources{
top: 19%;
}

.Slides{
  top: 33.5%;
}
.Recordings{
  top: 48%;
}

.filecontainer{
  border-top: 1px;
  border-top-color: rgb(94, 94, 94);
  border-top-style: solid;
  padding-top: 15px;
  display: flex;
  height: 35px;
  margin-top: -8px;
}

.filecontainer:hover{
  background-color: #F88A6F;
}

.filecontainer:hover .videoimg {
  background-image: url("/static/Bilder/play-button-white.png");
}
.filecontainer:hover .pdfimg {
  background-image: url("/static/Bilder/pdfWhite.png");
}
.filecontainer:hover .link{
  color:rgb(255, 255, 255);
}

.link{
  flex: 1;
  padding-top: 0px;
  padding-left: 7px;
  color:#4e4e4e;
  text-decoration: none;
  overflow: hidden;
}

.videoimg{
  background-image: url("/static/Bilder/play-button.png");
  background-size: 80%;
  height: 31px;
  width: 10%;
  background-repeat:no-repeat;
  margin-left: 7px;
}

.pdfimg{
  background-image: url("/static/Bilder/pdf1.png");
  background-size: 80%;
  height: 31px;
  width: 10%;
  background-repeat:no-repeat;
  margin-left: 7px;
}

.reset{
  position: fixed;
  left: 97%;
  top: 97%;
}

.WIP{
margin-top: 10%;
margin-left: 30%;
}

.linkItem{
  cursor: pointer;
}

.linkItem:hover{
  color: blue;
}
