/*
få tilbgae sæt det der ind:
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/Relevant-Buttons.css') }}">
of tilføj den her div omkring linksne      
<div class="relaviteLinks">
<div class="container">
            <div id="STADS">
                <button class="STADSBut" onclick="location.href='https://sbstads.au.dk/sb_STAP/sb/common/velkommen.jsp'"
                    type="button">
                    STADS
                    <p>Dine karakterer, undervisnings og eksamentilmelding </p>
                </button>

            </div>

            <div id="AULibrary">
                <button class="AuLiBut" onclick="location.href='https://library.au.dk/'" type="button">
                    AU Library
                    <p>Bøger, artikler mm. </p>
                </button>
            </div>

            <div id="KursusKatalog">
                <button class="KurKBut" onclick="location.href='http://www.example.com'" type="button">
                    Kursus katalog
                    <p>Se info om aktuelle kurser </p>
                </button>
            </div>

            <div id="DigitalExam">
                <button class="DeExBut" onclick="location.href='https://eksamen.au.dk/studerende?authReference=WAYF'"
                    type="button">
                    Digital eksamen
                    <p>Digital aflevering af eksamensbesvarelser </p>
                </button>
            </div>

            <div id="MoveOn">
                <button class="MoveBut"
                    onclick="location.href='https://au.moveon4.de/form/5c7d0007587531e5508b4567/eng'" type="button">
                    Move On
                    <p>Udveksling og praktik i udlandet </p>
                </button>
            </div>

            <div id="ExamRegistration">
                <button class="ExReBut" onclick="location.href='http://www.example.com'" type="button">
                    Eksamen registration
                    <p>??? </p>
                </button>
            </div>
            </div>
*/

div#STADS{
    background-color: white;
    border-radius: 25px;
    border: 0px;
    border-style: solid;
    width:10%;
    height:150px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    display: inline-block;
    position:absolute;
    margin-top: 1%;
    margin-left: 0%;
    align-items: center;
    justify-items: center;
    margin-bottom: 100px;
    }
    
    .STADSBut{
    width: 100%;
    height: 150px;
    border-radius: 25px;
    border: 0px;
    border-style: solid;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    justify-items: center;

    }
    
    .STADSBut p{
    margin-top: 4%;
    font-size: 15px;
    color:  rgb(54, 159, 167);
    justify-items: center;
    }
    
    div#AULibrary{
      background-color: white;
      border-radius: 25px;
      border: 0px;
      border-style: solid;
      width:10%;
      height:150px;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
      display:inline-block;
      position:absolute;
      margin-top: 1%;
    margin-left: 12%;
      
      
      }
      
      .AuLiBut{
      width: 100%;
      height:150px;
      border-radius: 25px;
      border: 0px;
      border-style: solid;
      background-color: white;
      font-family: 'Roboto', sans-serif;
      font-size: 25px;
      
      }
      
      .AuLiBut p{
      margin-top: 4%;
      font-size: 15px;
      color:  rgb(54, 159, 167);
      }
    
      div#KursusKatalog{
        background-color: white;
        border-radius: 25px;
        border: 0px;
        border-style: solid;
        width:10%;
        height:150px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
        display:inline-block;
        position:absolute;
        margin-top: 1%;
      margin-left: 24%;
        
        
        }
        
        .KurKBut{
        width: 100%;
        height:150px;
        border-radius: 25px;
        border: 0px;
        border-style: solid;
        background-color: white;
        font-family: 'Roboto', sans-serif;
        font-size: 25px;
        
        }
        
        .KurKBut p{
        margin-top: 4%;
        font-size: 15px;
        color:  rgb(54, 159, 167);
        }

        div#DigitalExam{
            background-color: white;
            border-radius: 25px;
            border: 0px;
            border-style: solid;
            width:10%;
            height:150px;
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
            display:inline-block;
            position:absolute;
            margin-top: 1%;
          margin-left: 36%;
            
            
            }
            
            .DeExBut{
            width: 100%;
            height:150px;
            border-radius: 25px;
            border: 0px;
            border-style: solid;
            background-color: white;
            font-family: 'Roboto', sans-serif;
            font-size: 25px;
            
            }
            
            .DeExBut p{
            margin-top: 4%;
            font-size: 15px;
            color:  rgb(54, 159, 167);
            }
        
            div#MoveOn{
                background-color: white;
                border-radius: 25px;
                border: 0px;
                border-style: solid;
                width:10%;
                height:150px;
                box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
                display:inline-block;
                position:absolute;
                margin-top: 1%;
              margin-left: 48%;
                
                
                }
                
                .MoveBut{
                width: 100%;
                height:150px;
                border-radius: 25px;
                border: 0px;
                border-style: solid;
                background-color: white;
                font-family: 'Roboto', sans-serif;
                font-size: 25px;
                
                }
                
                .MoveBut p{
                margin-top: 4%;
                font-size: 15px;
                color:  rgb(54, 159, 167);
                }

                div#ExamRegistration{
                    background-color: white;
                    border-radius: 25px;
                    border: 0px;
                    border-style: solid;
                    width:10%;
                    height:150px;
                    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
                    display:inline-block;
                    position:absolute;
                    margin-top: 1%;
                  margin-left: 60%;
                    
                    
                    }
                    
                    .ExReBut{
                    width: 100%;
                    height:150px;
                    border-radius: 25px;
                    border: 0px;
                    border-style: solid;
                    background-color: white;
                    font-family: 'Roboto', sans-serif;
                    font-size: 25px;
                    
                    }
                    
                    .ExReBut p{
                    margin-top: 4%;
                    font-size: 15px;
                    color:  rgb(54, 159, 167);
                    }



        div#STADS:hover{
            background-color: RGB(239,255,255);
                      cursor: pointer;
                      transform: translateY(-2%);
          }
          .STADSBut:hover{
            background-color: RGB(239,255,255);
            cursor: pointer;
          }
          
          div#AULibrary:hover{
            background-color: RGB(239,255,255);
                      cursor: pointer;
                      transform: translateY(-2%);
          }
          .AuLiBut:hover{
            background-color: RGB(239,255,255);
            cursor: pointer;
          }
          div#KursusKatalog:hover{
            background-color: RGB(239,255,255);
                      cursor: pointer;
                      transform: translateY(-2%);
          }
          .KurKBut:hover{
            background-color: RGB(239,255,255);
            cursor: pointer;
          }

          div#DigitalExam:hover{
            background-color: RGB(239,255,255);
                      cursor: pointer;
                      transform: translateY(-2%);
          }
          .DeExBut:hover{
            background-color: RGB(239,255,255);
            cursor: pointer;
          }
          div#MoveOn:hover{
            background-color: RGB(239,255,255);
                      cursor: pointer;
                      transform: translateY(-2%);
          }
          .MoveBut:hover{
            background-color: RGB(239,255,255);
            cursor: pointer;
          }
          div#ExamRegistration:hover{
            background-color: RGB(239,255,255);
                      cursor: pointer;
                      transform: translateY(-2%);
          }
          .ExReBut:hover{
            background-color: RGB(239,255,255);
            cursor: pointer;
          }