<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/grid.css') }}">
    <script defer src="{{ url_for('static', filename='/javascript/Javascript.js') }}"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoolStudent.net</title>
</head>

<body>
    <div class="navbar">

        <div class="home" id="home">
            <a href="/">
                <img class="homeimg" src="{{ url_for('static', filename='/Bilder/home.svg') }}">
            </a>
        </div>
        <div class="exsys" onclick="window.location='/Exsys';">
            <p>EXSYS</p>
        </div>
        <div class="comark" onclick="window.location='/ComArk';">
            <p>COMARK</p>
        </div>
        <div class="stat" onclick="window.location='/Stat';">
            <p>STAT</p>
        </div>
        <div class="menu">
            <img class="menuimg">
        </div>
        <a class="kalenderimg" href="/kalender">
            <img src="{{ url_for('static', filename='/Bilder/kalender.svg') }}">
        </a>
    </div>

    <div class="menubox" id="menubox">
        <p>Menupunkt 1</p>
        <p>Menupunkt 2</p>
        <p>Menupunkt 3</p>
    </div>


    <div class="container">

        <div id="ResoursesHeadline">
            <p>STUDENT RECOURSES</p>
        </div>
        <div id="STADS">
            <button class="STADSBut LinksButtons"
                onclick="location.href='https://sbstads.au.dk/sb_STAP/sb/common/velkommen.jsp'" type="button">
                <p>GRADES</p>
                <div class="pil"></div>
            </button>
        </div>

        <div id="AULibrary">
            <button class="AuLiBut LinksButtons" type="button">
                <p>LIBRARY</p>
                <form>
                    <input type="text">
                </form>
            </button>
        </div>

        <div id="Contactbook">
            <button class="KurKBut LinksButtons" type="button">
                <p>CONTACKBOOK</p>
                <div class="pil"></div>
            </button>
        </div>

        <div id="StudyCard">
            <button class="DeExBut LinksButtons"
                onclick="location.href='https://eksamen.au.dk/studerende?authReference=WAYF'" type="button">
                <p>STUDYCARD RENEWALD</p>
            </button>
        </div>

        <div id="MoveOn">
            <button class="MoveBut LinksButtons"
                onclick="location.href='https://au.moveon4.de/form/5c7d0007587531e5508b4567/eng'" type="button">
                <p>EXSTAINCE STUDENT INFO</p>
            </button>
        </div>

        <div id="ExamRegistration">
            <button class="ExReBut LinksButtons" onclick="location.href='http://www.example.com'" type="button">
                <p>EKSAM REGISTRATION</p>
                <p id="eksamRegDeadline">Next deadline: 24/04 2021</p>
            </button>
        </div>



        <div class="topgab"></div>
        <div class="topgab2"></div>
        <div class="topgab3"></div>
        <div class="topgab4"></div>

        <div class="to">
            <img class="toLogo" src="{{ url_for('static', filename='/Bilder/task.svg') }}">

        </div>

        <div class="toEks">
            {% if exsystø%}
            {% for row in exsystø %}
            <div class="basicbutton">
                <div id="{{row[0]}}" class="topinfo">
                    <h4>{{row[2]}}</h4>
                    <h3>{{row[4]}}</h3>
                    <p>{{row[5]}}</p>
                </div>
                <div class="quicklinks">
                    <div class="BorderVid">
                        <div class="videobutton">
                        </div>
                    </div>
                    <div class="border"></div>
                    <div class="BorderDoc"
                        data-data="{{row[1]}},{{row[2]}},{{row[3]}},{{row[4]}},{{row[5]}},{{row[0]}},{{row[12]}},{{row[11]}}">
                        <div class="documentbutton"></div>
                    </div>
                </div>
            </div>
            <div id="modal--{{row[0]}}" class="modal">
                <!--Content in the modal-->
                <div class="modal-content">
                    <div class="closebox"><span id="conclose--{{row[0]}}" class="close">&times;</span></div>
                    <div class="small">
                        <p>ComArk lecture </p>
                    </div>
                    <div class="headline">
                        <p>{{row[6]}} </p>
                    </div>
                    <div class="information">
                        <p>{{row[7]}}</p>
                    </div>
                    <div class="Resources files">
                        <p>Resources:</p>
                        <div class="filecontainer">
                            <div class="pdfimg"></div>
                            <a class="link" target="_blank"
                                href="https://drive.google.com/file/d/1Zp4iDP9wg7miOwzkxR8hiKuGVlNKOzkT/view?usp=sharing">{{row[8]}}</a>
                        </div>
                    </div>
                    <div class="contactButton" onclick="openChat()">
                        <p>Contact TA</p>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>Bla</p>
            {% endif %}
        </div>

        <div class="toCom">
            {% if comarktø%}
            {% for row in comarktø %}
            <div class="basicbutton">
                <div id="{{row[0]}}" class="topinfo">
                    <h4>{{row[2]}}</h4>
                    <h3>{{row[4]}}</h3>
                    <p>{{row[5]}}</p>
                </div>
                <div class="quicklinks">
                    <div class="BorderVid">
                        <div class="videobutton">
                        </div>
                    </div>
                    <div class="border"></div>
                    <div class="BorderDoc"
                        data-data="{{row[1]}},{{row[2]}},{{row[3]}},{{row[4]}},{{row[5]}},{{row[0]}},{{row[12]}},{{row[11]}}">
                        <div class="documentbutton"></div>
                    </div>
                </div>
            </div>
            <div id="modal--{{row[0]}}" class="modal">
                <!--Content in the modal-->
                <div class="modal-content">
                    <div class="closebox"><span id="conclose--{{row[0]}}" class="close">&times;</span></div>
                    <div class="small">
                        <p>ComArk lecture </p>
                    </div>
                    <div class="headline">
                        <p>{{row[6]}} </p>
                    </div>
                    <div class="information">
                        <p>{{row[7]}}</p>
                    </div>
                    <div class="Resources files">
                        <p>Resources:</p>
                        <div class="filecontainer">
                            <div class="pdfimg"></div>
                            <a class="link" target="_blank"
                                href="https://drive.google.com/file/d/1Zp4iDP9wg7miOwzkxR8hiKuGVlNKOzkT/view?usp=sharing">{{row[8]}}</a>
                        </div>
                    </div>
                    <div class="contactButton" onclick="openChat()">
                        <p>Contact TA</p>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>Bla</p>
            {% endif %}
        </div>

        <div class="toStat">
            {% if stattø%}
            {% for row in stattø %}
            <div class="basicbutton">
                <div id="{{row[0]}}" class="topinfo">
                    <h4>{{row[2]}}</h4>
                    <h3>{{row[4]}}</h3>
                    <p>{{row[5]}}</p>
                </div>
                <div class="quicklinks">

                    <div class="BorderVid">
                        <div class="videobutton">
                        </div>
                    </div>
                    <div class="border"></div>

                    <div class="BorderDoc"
                        data-data="{{row[1]}},{{row[2]}},{{row[3]}},{{row[4]}},{{row[5]}},{{row[0]}},{{row[12]}},{{row[11]}}">
                        <div class="documentbutton"></div>
                    </div>
                </div>
            </div>
            <div id="modal--{{row[0]}}" class="modal">
                <!--Content in the modal-->
                <div class="modal-content">
                    <div class="closebox"><span id="conclose--{{row[0]}}" class="close">&times;</span></div>
                    <div class="small">
                        <p>ComArk lecture </p>
                    </div>
                    <div class="headline">
                        <p>{{row[6]}} </p>
                    </div>
                    <div class="information">
                        <p>{{row[7]}}</p>
                    </div>
                    <div class="Resources files">
                        <p>Resources:</p>
                        <div class="filecontainer">
                            <div class="pdfimg"></div>
                            <a class="link" target="_blank"
                                href="https://drive.google.com/file/d/1Zp4iDP9wg7miOwzkxR8hiKuGVlNKOzkT/view?usp=sharing">{{row[8]}}</a>
                        </div>
                    </div>
                    <div class="contactButton" onclick="openChat()">
                        <p>Contact TA</p>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>Bla</p>
            {% endif %}
        </div>



        <div id="myDropdown2" class="dropdown-content2">
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">6</a>
        </div>



        <div class="litteratur">
            <img class="litteraturLogo" src="{{ url_for('static', filename='/Bilder/book.svg') }}">
        </div>

        <div class="litteraturEks">
            {% if exsyslit%}
            {% for row in exsyslit %}
            <div class="basicbutton">
                <div id="{{row[0]}}" class="topinfo">
                    <h4>{{row[2]}}</h4>
                    <h3>{{row[4]}}</h3>
                    <p>{{row[5]}}</p>
                </div>
                <div class="quicklinks litv">
                    <div class="BorderVidlit">
                    </div>
                    <div class="BorderDoc lit"
                        data-data="{{row[1]}},{{row[2]}},{{row[3]}},{{row[4]}},{{row[5]}},{{row[0]}},{{row[12]}},{{row[11]}}">
                        <div class="documentbutton"></div>
                    </div>
                </div>
            </div>
            <div id="modal--{{row[0]}}" class="modal">
                <!--Content in the modal-->
                <div class="modal-content">
                    <div class="closebox"><span id="conclose--{{row[0]}}" class="close">&times;</span></div>
                    <div class="small">
                        <p>ComArk lecture </p>
                    </div>
                    <div class="headline">
                        <p>{{row[6]}} </p>
                    </div>
                    <div class="information">
                        <p>{{row[7]}}</p>
                    </div>
                    <div class="Resources files">
                        <p>Resources:</p>
                        <div class="filecontainer">
                            <div class="pdfimg"></div>
                            <a class="link" target="_blank"
                                href="https://drive.google.com/file/d/1Zp4iDP9wg7miOwzkxR8hiKuGVlNKOzkT/view?usp=sharing">{{row[8]}}</a>
                        </div>
                    </div>
                    <div class="contactButton" onclick="openChat()">
                        <p>Litteratur Questions</p>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>Bla</p>
            {% endif %}
        </div>

        <div class="litteraturCom">
            {% if comarklit%}
            {% for row in comarklit %}
            <div class="basicbutton">
                <div id="{{row[0]}}" class="topinfo">
                    <h4>{{row[2]}}</h4>
                    <h3>{{row[4]}}</h3>
                    <p>{{row[5]}}</p>
                </div>
                <div class="quicklinks litv">
                    <div class="BorderVidlit">
                    </div>
                    <div class="BorderDoc lit"
                        data-data="{{row[1]}},{{row[2]}},{{row[3]}},{{row[4]}},{{row[5]}},{{row[0]}},{{row[12]}},{{row[11]}}">
                        <div class="documentbutton"></div>
                    </div>
                </div>
            </div>
            <div id="modal--{{row[0]}}" class="modal">
                <!--Content in the modal-->
                <div class="modal-content">
                    <div class="closebox"><span id="conclose--{{row[0]}}" class="close">&times;</span></div>
                    <div class="small">
                        <p>ComArk lecture </p>
                    </div>
                    <div class="headline">
                        <p>{{row[6]}} </p>
                    </div>
                    <div class="information">
                        <p>{{row[7]}}</p>
                    </div>

                    <div class="Resources files">
                        <p>Resources:</p>
                        <div class="filecontainer">
                            <div class="pdfimg"></div>
                            <a class="link" target="_blank"
                                href="https://drive.google.com/file/d/1Zp4iDP9wg7miOwzkxR8hiKuGVlNKOzkT/view?usp=sharing">{{row[8]}}</a>
                        </div>
                    </div>
                    <div class="contactButton" onclick="openChat()">
                        <p>Litteratur Questions</p>
                    </div>
                </div>

            </div>
            {% endfor %}
            {% else %}
            <p>Bla</p>
            {% endif %}
        </div>

        <div class="litteraturStat">
            {% if statlit%}
            {% for row in statlit %}
            <div class="basicbutton">
                <div id="{{row[0]}}" class="topinfo">
                    <h4>{{row[2]}}</h4>
                    <h3>{{row[4]}}</h3>
                    <p>{{row[5]}}</p>
                </div>
                <div class="quicklinks litv">
                    <div class="BorderVidlit">
                    </div>
                    <div class="BorderDoc lit"
                        data-data="{{row[1]}},{{row[2]}},{{row[3]}},{{row[4]}},{{row[5]}},{{row[0]}},{{row[12]}},{{row[11]}}">
                        <div class="documentbutton"></div>
                    </div>
                </div>
            </div>
            <div id="modal--{{row[0]}}" class="modal">
                <!--Content in the modal-->
                <div class="modal-content">
                    <div class="closebox"><span id="conclose--{{row[0]}}" class="close">&times;</span></div>
                    <div class="small">
                        <p>ComArk lecture </p>
                    </div>
                    <div class="headline">
                        <p>{{row[6]}} </p>
                    </div>
                    <div class="information">
                        <p>{{row[7]}}</p>
                    </div>
                    <div class="Resources files">
                        <p>Resources:</p>
                        <div class="filecontainer">
                            <div class="pdfimg"></div>
                            <a class="link" target="_blank"
                                href="https://drive.google.com/file/d/1Zp4iDP9wg7miOwzkxR8hiKuGVlNKOzkT/view?usp=sharing">{{row[8]}}</a>
                        </div>
                    </div>
                    <div class="contactButton" onclick="openChat()">
                        <p>Litteratur Questions</p>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>Bla</p>
            {% endif %}
        </div>

        <div class="forelæsning">
            <img class="forelæsningLogo" src="{{ url_for('static', filename='/Bilder/presentation.svg') }}">
        </div>

        <div class="forelæsningEks">
            {% if exsyslec%}
            {% for row in exsyslec %}
            <!--Trigger/Open prototyping-->
            <div class="basicbutton">
                <div id="{{row[0]}}" class="topinfo">
                    <h4>{{row[2]}}</h4>
                    <h3>{{row[4]}}</h3>
                    <p>{{row[5]}}</p>
                </div>
                <div class="quicklinks">
                    <div class="BorderVid">
                        <div class="videobutton">
                        </div>
                    </div>
                    <div class="border"></div>
                    <div class="BorderDoc"
                        data-data="{{row[1]}},{{row[2]}},{{row[3]}},{{row[4]}},{{row[5]}},{{row[0]}},{{row[12]}},{{row[11]}}">
                        <div class="documentbutton"></div>
                    </div>
                </div>
            </div>
            <!--The modal-->
            <div id="modal--{{row[0]}}" class="modal">
                <!--Content in the modal-->
                <div class="modal-content">
                    <div class="closebox"><span id="protoclose--{{row[0]}}" class="close">&times;</span></div>
                    <div class="small">
                        <p>ExSys lecture </p>
                    </div>
                    <div class="headline">
                        <p>{{row[6]}} </p>
                    </div>
                    <div class="information">
                        <p>{{row[7]}}</p>
                    </div>
                    <div class="Resources files" data-activety="Lecture">
                        <p>Resources:</p>
                        <div class="filecontainer">
                            <div class="pdfimg"></div>
                            <a class="link" target="_blank"
                                href="https://drive.google.com/file/d/1Zp4iDP9wg7miOwzkxR8hiKuGVlNKOzkT/view?usp=sharing">{{row[8]}}</a>
                        </div>
                    </div>
                    <div class="Slides files">
                        <p> Slides:</p>
                        <div class="filecontainer">
                            <div class="pdfimg"></div>
                            <a class="link" target="_blank"
                                href="https://drive.google.com/file/d/17h8xGqmRqHWl49RPaKMg8N6fbeK7ip5z/view?usp=sharing">{{row[9]}}</a>
                        </div>
                    </div>
                    <div class="Recordings files">
                        <p>Recordings:</p>
                        <div class="filecontainer">
                            <div class="videoimg"></div>
                            <a class="link" target="_blank"
                                href="https://drive.google.com/file/d/1vo4inmqPPPLmx8_WhIgdAFegu-DDl4Kf/view?usp=sharing">{{row[10]}}</a>
                        </div>
                    </div>
                    <div class="contactButton" onclick="openChat()">
                        <p>Contact Professor</p>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>Bla</p>
            {% endif %}
        </div>

        <div class="forelæsningCom">
            {% if comarklec%}
            {% for row in comarklec %}
            <div class="basicbutton">
                <div id="{{row[0]}}" class="topinfo">
                    <h4>{{row[2]}}</h4>
                    <h3>{{row[4]}}</h3>
                    <p>{{row[5]}}</p>
                </div>
                <div class="quicklinks">
                    <div class="BorderVid">
                        <div class="videobutton">
                        </div>
                    </div>
                    <div class="border"></div>
                    <div class="BorderDoc"
                        data-data="{{row[1]}},{{row[2]}},{{row[3]}},{{row[4]}},{{row[5]}},{{row[0]}},{{row[12]}},{{row[11]}}">
                        <div class="documentbutton"></div>
                    </div>
                </div>
            </div>
            <div id="modal--{{row[0]}}" class="modal">
                <!--Content in the modal-->
                <div class="modal-content">
                    <div class="closebox"><span id="conclose--{{row[0]}}" class="close">&times;</span></div>
                    <div class="small">
                        <p>ComArk lecture </p>
                    </div>
                    <div class="headline">
                        <p>{{row[6]}} </p>
                    </div>
                    <div class="information">
                        <p>{{row[7]}}</p>
                    </div>
                    <div class="Resources files" data-activety="Lecture">
                        <p>Resources:</p>
                        <div class="filecontainer">
                            <div class="pdfimg"></div>
                            <a class="link" target="_blank"
                                href="https://drive.google.com/file/d/1Zp4iDP9wg7miOwzkxR8hiKuGVlNKOzkT/view?usp=sharing">{{row[8]}}</a>
                        </div>
                    </div>
                    <div class="Slides files">
                        <p> Slides:</p>
                        <div class="filecontainer">
                            <div class="pdfimg"></div>
                            <a class="link" target="_blank"
                                href="https://drive.google.com/file/d/17h8xGqmRqHWl49RPaKMg8N6fbeK7ip5z/view?usp=sharing">{{row[9]}}</a>
                        </div>
                    </div>
                    <div class="Recordings files">
                        <p>Recordings:</p>
                        <div class="filecontainer">
                            <div class="videoimg"></div>
                            <a class="link" target="_blank"
                                href="https://drive.google.com/file/d/1vo4inmqPPPLmx8_WhIgdAFegu-DDl4Kf/view?usp=sharing">{{row[10]}}</a>
                        </div>
                    </div>
                    <div class="contactButton" onclick="openChat()">
                        <p>Contact Professor</p>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>Bla</p>
            {% endif %}
        </div>



        <div class="forelæsningStat">
            {% if statlec%}
            {% for row in statlec %}
            <div class="basicbutton">
                <div id="{{row[0]}}" class="topinfo">
                    <h4>{{row[2]}}</h4>
                    <h3>{{row[4]}}</h3>
                    <p>{{row[5]}}</p>
                </div>
                <div class="quicklinks">
                    <div class="BorderVid">
                        <div class="videobutton">
                        </div>
                    </div>
                    <div class="border"></div>

                    <div class="BorderDoc"
                        data-data="{{row[1]}},{{row[2]}},{{row[3]}},{{row[4]}},{{row[5]}},{{row[0]}},{{row[12]}},{{row[11]}}">
                        <div class="documentbutton">
                        </div>
                    </div>

                </div>
            </div>
            <div id="modal--{{row[0]}}" class="modal">
                <!--Content in the modal-->
                <div class="modal-content">
                    <div class="closebox"><span id="normclose--{{row[0]}}" class="close">&times;</span></div>
                    <div class="small">
                        <p>Stat lecture </p>
                    </div>
                    <div class="headline">
                        <p>{{row[6]}} </p>
                    </div>
                    <div class="information">
                        <p>{{row[7]}}</p>
                    </div>
                    <div class="Resources files" data-activety="Lecture">
                        <p>Resources:</p>
                        <div class="filecontainer">
                            <div class="pdfimg"></div>
                            <a class="link" target="_blank"
                                href="https://drive.google.com/file/d/1Zp4iDP9wg7miOwzkxR8hiKuGVlNKOzkT/view?usp=sharing">{{row[8]}}</a>
                        </div>
                    </div>
                    <div class="Slides files">
                        <p> Slides:</p>
                        <div class="filecontainer">
                            <div class="pdfimg"></div>
                            <a class="link" target="_blank"
                                href="https://drive.google.com/file/d/17h8xGqmRqHWl49RPaKMg8N6fbeK7ip5z/view?usp=sharing">{{row[9]}}</a>
                        </div>
                    </div>
                    <div class="Recordings files">
                        <p>Recordings:</p>
                        <div class="filecontainer">
                            <div class="videoimg"></div>
                            <a class="link" target="_blank"
                                href="https://drive.google.com/file/d/1vo4inmqPPPLmx8_WhIgdAFegu-DDl4Kf/view?usp=sharing">{{row[10]}}</a>
                        </div>
                    </div>
                    <div class="contactButton" onclick="openChat()">
                        <p>Contact Professor</p>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>Bla</p>
            {% endif %}
        </div>



        <div class="deadlines">
            <h5>DEADLINES</h5>
            {% if list %}
            {% for row in list %}
            <div class="basicbutton space deadlineButton">
                <div id="{{row[0]}}" class="topinfo">
                    <h4>{{row[1]}}</h4>
                    <h3>{{row[2]}}</h3>
                    <p>Due: {{row[3]}}</p>
                </div>
                <div class="quicklinks">
                    <div class="BorderUp"
                        data-data="{{row[1]}},Assignment,{{row[2]}},{{row[5]}},{{row[6]}},{{row[0]}},{{row[4]}}">
                        <div class="UPbutton"></div>
                    </div>
                    <div class="border"></div>
                    <div class="BorderDoc"
                        data-data="{{row[1]}},Assignment,{{row[2]}},{{row[5]}},{{row[6]}},{{row[0]}},{{row[4]}}">
                        <div class="documentbutton"></div>
                    </div>
                </div>
            </div>
            <!--The modal-->
            <div id="modal--{{row[0]}}" class="modal">
                <!--Content in the modal-->
                <div class="modal-content">
                    <div class="closebox"><span id="protoclose--{{row[0]}}" class="close">&times;</span></div>
                    <div class="small">
                        <p>{{row[1]}} Assignment</p>
                    </div>
                    <div class="headline">
                        <p>{{row[2]}} </p>
                    </div>
                    <div class="information">
                        <p>{{row[6]}}</p>
                    </div>
                    <div class="Resources files">
                        <p>Resources:</p>
                        <div class="filecontainer">
                            <div class="pdfimg"></div>
                            <a class="link" target="_blank"
                                href="https://drive.google.com/file/d/1Zp4iDP9wg7miOwzkxR8hiKuGVlNKOzkT/view?usp=sharing">{{row[7]}}</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <h5>There are no deadlines mate</h5>
            {% endif %}

        </div>

        <div class="chat-popup" id="myChat">
            <form class="form-container">
                <h1>Chat</h1>
                <label for="msg"><b>Message</b></label>
                <textarea placeholder="Type message.." name="msg" required></textarea>
                <button class="btn">Send</button>
                <span class="cancel" onclick="closeChat()">&times;</span>
            </form>
        </div>

        <div class="Chat Chat1" onclick="openChat()" style="background-image: url(/static/Bilder/Chat.png);">
        </div>
        <div class="Chat Chat2" onclick="openChat()" style="background-image: url(/static/Bilder/Chat1.png);">
        </div>
        <div class="Chat Chat3" onclick="openChat()" style="background-image: url(/static/Bilder/Chat2.png);">
        </div>

        <div class="Chat Chat4">
            <button class="ChatButton" type="button" onclick="addChat()">+</button>
        </div>
        <div id="myDropdown3" class="dropdown-content3">
            <a href="#">Add new chat</a>
        </div>

        <p class="groupsh1">GROUPS </p>
        <div class="Groups" onclick="window.location='/Groups';">
            <p>STUDY <br> GROUP </p>
        </div>
        <div class="Groups Groups1" onclick="window.location='/Groups';">
            <p>TUTOR</p>
        </div>

        <div id="tilbage" class="kalenderfremogtilbage back">
            <div class="arrowIcon"></div>
        </div>
        <div class=" kalenderfremogtilbage weeknumber">
            {% if statlit%}
            {% for row in statlit %}

            <p>Week {{row[3]}}</p>
            <a href="/reset/{{row[3]}}" class="reset">RESET</a>
            {% endfor %}
            {% else %}
            <p>Bla</p>
            {% endif %}
        </div>
        <div id="frem" class="kalenderfremogtilbage front">
            <div class="arrowIcon right"></div>
        </div>

        <div id="protomodal--doc" class="modal">
            <!--Content in the modal-->
            <div class="modal-content docs">
                <div class="small-pop-up-closebox"><span id="protoclose--doc" class="close"
                        onclick="closePopUp()">&times;</span></div>
                <div class="headlinedocs">
                    <p>Create document</p>
                </div>
                <div class="docsinfo">
                    <p class="docs-popup-info"></p>
                </div>
                <div class="continue">CONTINUE</div>
                <div id="clickOffPopUp">
                    <p id="clickOffTEXT">Dont want to see this pop-up anymore?</p>
                    <div id="clickOffButton" onclick="turnOffPopUp()"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="protomodal--upload" class="modal">
        <!--Content in the modal-->
        <div class="modal-content docs">
            <div class="small-pop-up-closebox"><span id="protoclose--upload" class="close"
                    onclick="closePopUp()">&times;</span></div>
            <div class="headlinedocs">
                <p>Upload document</p>
            </div>
            <form name="myForm">
                <div id="yourBtn" onclick="getFile()">click to upload a file</div>
                <!-- this is your file input tag, so i hide it!-->
                <!-- i used the onchange event to fire the form submission-->
                <div style='height: 0px;width: 0px; overflow:hidden;'><input id="upfile" type="file" value="upload"
                        onchange="sub(this)" /></div>
                <!-- here you can have file submit button or you can write a simple script to upload the file automatically-->
                <div class="continue send" type="submit">SEND</div>
            </form>
        </div>
    </div>



</body>

</html>