<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/grid.css') }}">
    <script defer src="{{ url_for('static', filename='/javascript/Javascript.js') }}"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoolStudent.net</title>
</head>

<body>
    <div class="navbar">

        <div class="home" id="home">
            <a href="/">
            <img class="homeimg" src="{{ url_for('static', filename='/Bilder/home.svg') }}">
        </a>
        </div>
        <div class="exsys" onclick="window.location='/Exsys';" >
            <p>EXSYS</p>
        </div>
        <div class="comark" onclick="window.location='/ComArk';" >
            <p>COMARK</p>
        </div>
        <div class="stat" onclick="window.location='/Stat';">
            <p>STAT</p>
        </div>
        <div class="menu">
            <img class="menuimg">
        </div>
        <a class="kalenderimg" href="/kalender">
            <img src="{{ url_for('static', filename='/Bilder/kalender.svg') }}">
        </a>
    </div>

    <div class="menubox" id="menubox">
        <p>Menupunkt 1</p>
        <p>Menupunkt 2</p>
        <p>Menupunkt 3</p>
    </div>


    <div class="container">

        <div class="topgab"></div>
        <div class="topgab2"></div>
        <div class="topgab3"></div>
        <div class="topgab4"></div>

        <div class="to">
            <img class="toLogo" src="{{ url_for('static', filename='/Bilder/task.svg') }}">

        </div>

        <div class="toEks">
            {% if exsystø%}
            {% for row in exsystø %}
            <div class="basicbutton">
                <div class="topinfo">
                    <h4>{{row[1]}}</h4>
                    <h3>{{row[3]}}</h3>
                    <p>{{row[4]}}</p>
                </div>
                <div class="quicklinks">
                    <div class="BorderVid">
                        <div class="videobutton">
                        </div>
                    </div>
                    <div class="border"></div>
                    <div class="BorderDoc"
                        data-data="{{row[1]}},{{row[2]}},{{row[3]}},{{row[4]}},{{row[5]}},{{row[0]}},{{row[12]}}">
                        <div class="documentbutton"></div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>Bla</p>
            {% endif %}
        </div>

        <div class="toCom">
            {% if comarktø%}
            {% for row in comarktø %}
            <div class="basicbutton">
                <div class="topinfo">
                    <h4>{{row[1]}}</h4>
                    <h3>{{row[3]}}</h3>
                    <p>{{row[4]}}</p>
                </div>
                <div class="quicklinks">
                    <div class="BorderVid">
                        <div class="videobutton">
                        </div>
                    </div>
                    <div class="border"></div>
                    <div class="BorderDoc"
                        data-data="{{row[1]}},{{row[2]}},{{row[3]}},{{row[4]}},{{row[5]}},{{row[0]}},{{row[12]}}">
                        <div class="documentbutton"></div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>Bla</p>
            {% endif %}
        </div>

        <div class="toStat">
            {% if stattø%}
            {% for row in stattø %}
            <div class="basicbutton">
                <div class="topinfo">
                    <h4>{{row[1]}}</h4>
                    <h3>{{row[3]}}</h3>
                    <p>{{row[4]}}</p>
                </div>
                <div class="quicklinks">

                    <div class="BorderVid">
                        <div class="videobutton">
                        </div>
                    </div>
                    <div class="border"></div>

                    <div class="BorderDoc"
                        data-data="{{row[1]}},{{row[2]}},{{row[3]}},{{row[4]}},{{row[5]}},{{row[0]}},{{row[12]}}">
                        <div class="documentbutton"></div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>Bla</p>
            {% endif %}
        </div>



        <div id="myDropdown2" class="dropdown-content2">
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">6</a>
        </div>



        <div class="litteratur">
            <img class="litteraturLogo" src="{{ url_for('static', filename='/Bilder/book.svg') }}">
        </div>

        <div class="litteraturEks">
            {% if exsyslit%}
            {% for row in exsyslit %}
            <div class="basicbutton">
                <div class="topinfo">
                    <h4>{{row[1]}}</h4>
                    <h3>{{row[3]}}</h3>
                    <p>{{row[4]}}</p>
                </div>
                <div class="quicklinks litv">
                    <div class="BorderVidlit">
                    </div>
                    <div class="BorderDoc lit"
                        data-data="{{row[1]}},{{row[2]}},{{row[3]}},{{row[4]}},{{row[5]}},{{row[0]}},{{row[12]}}">
                        <div class="documentbutton"></div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>Bla</p>
            {% endif %}
        </div>

        <div class="litteraturCom">
            {% if comarklit%}
            {% for row in comarklit %}
            <div class="basicbutton">
                <div class="topinfo">
                    <h4>{{row[1]}}</h4>
                    <h3>{{row[3]}}</h3>
                    <p>{{row[4]}}</p>
                </div>
                <div class="quicklinks litv">
                    <div class="BorderVidlit">
                    </div>
                    <div class="BorderDoc lit"
                        data-data="{{row[1]}},{{row[2]}},{{row[3]}},{{row[4]}},{{row[5]}},{{row[0]}},{{row[12]}}">
                        <div class="documentbutton"></div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>Bla</p>
            {% endif %}
        </div>

        <div class="litteraturStat">
            {% if statlit%}
            {% for row in statlit %}
            <div class="basicbutton">
                <div class="topinfo">
                    <h4>{{row[1]}}</h4>
                    <h3>{{row[3]}}</h3>
                    <p>{{row[4]}}</p>
                </div>
                <div class="quicklinks litv">
                    <div class="BorderVidlit">
                    </div>
                    <div class="BorderDoc lit"
                        data-data="{{row[1]}},{{row[2]}},{{row[3]}},{{row[4]}},{{row[5]}},{{row[0]}},{{row[12]}}">
                        <div class="documentbutton"></div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>Bla</p>
            {% endif %}
        </div>

        <div class="forelæsning">
            <img class="forelæsningLogo" src="{{ url_for('static', filename='/Bilder/presentation.svg') }}">
        </div>

        <div class="forelæsningEks">
            {% if exsyslec%}
            {% for row in exsyslec %}
            <!--Trigger/Open prototyping-->
            <div class="basicbutton">
                <div id="protobutton--{{row[0]}}" class="topinfo">
                    <h4>{{row[2]}}</h4>
                    <h3>{{row[4]}}</h3>
                    <p>{{row[5]}}</p>
                </div>
                <div class="quicklinks">
                    <div class="BorderVid">
                        <div class="videobutton">
                        </div>
                    </div>
                    <div class="border"></div>
                    <div class="BorderDoc"
                        data-data="{{row[1]}},{{row[2]}},{{row[3]}},{{row[4]}},{{row[5]}},{{row[0]}},{{row[12]}}">
                        <div class="documentbutton"></div>
                    </div>
                </div>
            </div>
            <!--The modal-->
        <div id="protomodal--{{row[0]}}" class="modal">
            <!--Content in the modal-->
            <div class="modal-content">
                <div class ="closebox"><span id="protoclose--{{row[0]}}" class="close">&times;</span></div>
                <div class="small">
                    <p>ExSys lecture </p>
                </div>
                <div class="headline">
                    <p>{{row[5]}} </p>
                </div>
                <div class="information">
                    <p>Beyoncé Giselle Knowles-Carter (født den 4. september 1981), bedre kendt som Beyoncé (udtales /biːɑːnsi/ eller “bee-YON-say”) er en amerikansk moderne R&B-sanger, skuespiller og modedesigner. Hun er født og opvokset i Houston, Texas, hvor hun spillede med i adskillige kunstskolers forestillinger og blev introduceret for sang- 
                        og dansekonkurrencer som barn. Knowles blev kendt i de sene 1990’ere som forsanger i R&B-pigegruppen Destiny’s Child, en af verdens bedst sælgende pigegrupper gennem tiderne.
                        
                        I 2003, hvor Destiny’s Child i en periode ikke udsendte noget musik, udgav Knowles sit debut soloalbum Dangerously in Love, som indeholder flere hits som “Crazy in Love” og “Baby Boy” og endte med at blive et af de mest succesfulde album det år. Det indbragte hende et (på det tidspunkt) rekordhøjt antal på 5 vundne Grammy Award-priser. Efter gruppens opløsning i 2005, udgav Knowles sit andet soloalbum, B’Day i 2006. Den røg direkte ind som nummer 1 på Billboard 200 og indeholder hits som “Irreplaceable” og “Beautiful Liar”. 
                        
                        Beyoncé Giselle Knowles-Carter (født den 4. september 1981), bedre kendt som Beyoncé (udtales /biːɑːnsi/ eller “bee-YON-say”) er en amerikansk moderne R&B-sanger, skuespiller og modedesigner. Hun er født og opvokset i Houston, Texas, hvor hun spillede med i adskillige kunstskolers forestillinger og blev introduceret for sang- 
                        og dansekonkurrencer som barn. Knowles blev kendt i de sene 1990’ere som forsanger i R&B-pigegruppen Destiny’s Child, en af verdens bedst sælgende pigegrupper gennem tiderne.
                        
                        I 2003, hvor Destiny’s Child i en periode ikke udsendte noget musik, udgav Knowles sit debut soloalbum Dangerously in Love, som indeholder flere hits som “Crazy in Love” og “Baby Boy” og endte med at blive et af de mest succesfulde album det år. Det indbragte hende et (på det tidspunkt) rekordhøjt antal på 5 vundne Grammy Award-priser. Efter gruppens opløsning i 2005, udgav Knowles sit andet soloalbum, B’Day i 2006. Den røg direkte ind som nummer 1 på Billboard 200 og indeholder hits som “Irreplaceable” og “Beautiful Liar”. </p>
                </div>
                <div class="Resources files">
                    <p>Resources:</p>
                    <div class = "filecontainer">
                        <div class = "pdfimg"></div>
                        <a class="link" href="{{row[7]}}">Resourcer her</a>
                    </div>
                </div>
                <div class="Slides files">
                    <p> Slides:</p>
                    <div class = "filecontainer">
                        <div class = "pdfimg"></div>
                        <a class="link" href="{{row[8]}}">Slides her</a>
                    </div>
                </div>
                <div class="Recordings files">
                    <p>Recordings:</p>
                    <div class = "filecontainer">
                        <div class = "videoimg"></div>
                        <a class="link" href="{{row[9]}}">Recordings her</a>
                    </div>
                </div>
                </div>
                </div>
                {% endfor %}
                {% else %}
                <p>Bla</p>
                {% endif %}
            </div>

            <div class="forelæsningCom">
                {% if comarklec%}
                {% for row in comarklec %}
                <div class="basicbutton">
                    <div id="conbutton--{{row[0]}}" class="topinfo">
                        <h4>{{row[2]}}</h4>
                        <h3>{{row[4]}}</h3>
                        <p>{{row[5]}}</p>
                    </div>
                    <div class="quicklinks">
                        <div class="BorderVid">
                            <div class="videobutton">
                            </div>
                        </div>
                        <div class="border"></div>
                        <div class="BorderDoc"
                            data-data="{{row[1]}},{{row[2]}},{{row[3]}},{{row[4]}},{{row[5]}},{{row[0]}},{{row[12]}}">
                            <div class="documentbutton"></div>
                        </div>
                    </div>
                </div>
                <div id="conmodal--{{row[0]}}" class="modal">
                    <!--Content in the modal-->
                    <div class="modal-content">
                        <span id="conclose--{{row[0]}}" class="close">&times;</span>
                        <div class="small">
                            <p>ComArk status: </p>
                        </div>
                        <div class="headline">
                            <p>{{row[5]}} </p>
                        </div>
                        <div class="information">
                            <p>{{row[6]}} </p>
                        </div>
                        <div class="Resources">
                            <p>Resources:</p>
                            <a class="link" href="{{row[7]}}">Resourcer her</a>
                        </div>
                        <div class="Slides">
                            <p> Slides:</p>
                            <a class="link" href="{{row[8]}}">Slides her</a>
                        </div>
                        <div class="Recordings">
                            <p>Recordings:</p>
                            <a class="link" href="{{row[9]}}">Recordings her</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <p>Bla</p>
                {% endif %}
            </div>



            <div class="forelæsningStat">
                {% if statlec%}
                {% for row in statlec %}
                <div class="basicbutton">
                    <div id="normbutton--{{row[0]}}" class="topinfo">
                        <h4>{{row[2]}}</h4>
                        <h3>{{row[4]}}</h3>
                        <p>{{row[5]}}</p>
                    </div>
                    <div class="quicklinks">
                        <div class="BorderVid">
                            <div class="videobutton">
                            </div>
                        </div>
                        <div class="border"></div>

                        <div class="BorderDoc"
                            data-data="{{row[1]}},{{row[2]}},{{row[3]}},{{row[4]}},{{row[5]}},{{row[0]}},{{row[12]}}">
                            <div class="documentbutton">
                            </div>
                        </div>

                    </div>
                </div>
                <div id="normmodal--{{row[0]}}" class="modal">
                    <!--Content in the modal-->
                    <div class="modal-content">
                        <span id="normclose--{{row[0]}}" class="close">&times;</span>
                        <div class="small">
                            <p>Stat status: </p>
                        </div>
                        <div class="headline">
                            <p>{{row[5]}}</p>
                        </div>
                        <div class="information">
                            <p>{{row[6]}} </p>
                        </div>
                        <div class="Resources">
                            <p>Resources:</p>
                            <a class="link" href="{{row[7]}}">Resourcer her</a>
                        </div>
                        <div class="Slides">
                            <p> Slides:</p>
                            <a class="link" href="{{row[8]}}">Slides her</a>
                        </div>
                        <div class="Recordings">
                            <p>Recordings:</p>
                            <a class="link" href="{{row[9]}}">Recordings her</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <p>Bla</p>
                {% endif %}
            </div>



            <div class="deadlines">
                <h5>DEADLINES</h5>
                {% if list %}
                {% for row in list %}
                <div class="basicbutton space">
                    <div id="deadline--{{row[0]}}" class="topinfo">
                        <h4 style="margin-top: 5px; font-size: 20px;">{{row[0]}}</h4>
                        <h3 style="font-weight: 900; font-size: 15px;">{{row[1]}}</h3>
                        <p style="margin-top: 5px; font-weight: 700; font-size: 12px;">Due: {{row[2]}}</p>
                    </div>
                    <div class="quicklinks">
                        <div class="BorderUp">
                            <div class="UPbutton"></div>
                        </div>
                        <div class="border"></div>
                        <div class="BorderDoc" data-data="{{row[0]}},Assignment,{{row[1]}},{{row[2]}}">
                            <div class="documentbutton"></div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <h5>There are no deadlines mate</h5>
                {% endif %}

            </div>

            <div class="Chat Chat1" style="background-image: url(/static/Bilder/Chat.png);">
            </div>
            <div class="Chat Chat2" style="background-image: url(/static/Bilder/Chat1.png);">
            </div>
            <div class="Chat Chat3" style="background-image: url(/static/Bilder/Chat2.png);">
            </div>

            <div class="Chat Chat4">
                <button class="ChatButton" type="button" onclick="addChat()">+</button>
            </div>
            <div id="myDropdown3" class="dropdown-content3">
                <a href="#">Add new chat</a>
            </div>

        <p class="groupsh1">GROUPS </p>
        <div class="Groups">
            <p>STUDY <br> GROUP </p>
        </div>
        <div class="Groups Groups1">
            <p>TUTOR</p>
        </div>

            <div class="kalenderfremogtilbage back">
                <div class="arrowIcon"></div>
            </div>
            <div class=" kalenderfremogtilbage weeknumber">
                {% if statlit%}
                {% for row in statlit %}

                <p>Week {{row[2]}}</p>

                {% endfor %}
                {% else %}
                <p>Bla</p>
                {% endif %}
            </div>
            <div class="kalenderfremogtilbage front">
                <div class="arrowIcon right"></div>
            </div>

            <div id="protomodal--doc" class="modal">
                <!--Content in the modal-->
                <div class="modal-content docs">
                    <span id="protoclose" class="close">&times;</span>
                    <div class="headline">
                        <p>Create document</p>
                    </div>
                    <div class="docsinfo">
                        <p class="docs-popup-info"></p>
                    </div>
                    <div class="continue">CONTINUE</div>
                </div>
            </div>
        </div>

        <div id="protomodal--upload" class="modal">
            <!--Content in the modal-->
            <div class="modal-content docs">
                <span id="protoclose--upload" class="close">&times;</span>
                <div class="headline">
                    <p>Upload document</p>
                </div>
                <form name="myForm">
                    <div id="yourBtn" onclick="getFile()">click to upload a file</div>
                    <!-- this is your file input tag, so i hide it!-->
                    <!-- i used the onchange event to fire the form submission-->
                    <div style='height: 0px;width: 0px; overflow:hidden;'><input id="upfile" type="file" value="upload"
                            onchange="sub(this)" /></div>
                    <!-- here you can have file submit button or you can write a simple script to upload the file automatically-->
                    <div class="continue send" type="submit">SEND</div>
                </form>
            </div>
        </div>
        </div>
        <a href = "/reset" class = "reset">RESET</a>
    </div>


</body>

</html>