<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <!--   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/Mock.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/Buttons.css') }}">
  
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/Relevant-Buttons.css') }}"> 
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/grid.css') }}">-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/Kalender.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/CalendarGridItems.css') }}">
  <script defer src="{{ url_for('static', filename='/javascript/Javascript.js') }}"></script>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>


<body>
  <div id="Main">
    <div class="navbar">

      <div class="home" id="home">
        <a href="/">
          <img class="homeimg" src="{{ url_for('static', filename='/Bilder/home.svg') }}">
        </a>
      </div>
      <div class="exsys" onclick="window.location='/Exsys';">
        <p>EXSYS</p>
      </div>
      <div class="comark" onclick="window.location='/ComArk';">
        <p>COMARK</p>
      </div>
      <div class="stat" onclick="window.location='/Stat';">
        <p>STAT</p>
      </div>
      <div class="menu">
        <img class="menuimg">
      </div>
      <a class="kalenderimg" href="/kalender">
        <img src="{{ url_for('static', filename='/Bilder/kalender.svg') }}">
      </a>
    </div>

    <div class="menubox" id="menubox">
      <p>Menupunkt 1</p>
      <p>Menupunkt 2</p>
      <p>Menupunkt 3</p>
    </div>

    <div class="ikkenavbar">
      <div class="grid">
        <div class="calSkel M">Mandag</div>
        <div class="calSkel T">Tirsdag</div>
        <div class="calSkel O">Onsdag</div>
        <div class="calSkel T1">Torsdag</div>
        <div class="calSkel F">Fredag</div>
        <div class="calSkel S">Lørdag</div>
        <div class="calSkel S1">Søndag</div>

        <div class="calSkel t1">8-10</div>
        <div class="calSkel t2">10-12</div>
        <div class="calSkel t3">12-14</div>
        <div class="calSkel t4">14-16</div>
        <div class="calSkel t5">16-18</div>
        <div class="calSkel t6">18-20</div>
        <div class="calSkel t7">20-22</div>
        <div class="calSkel t8">22-24</div>
        <div class="calSkel Uge">
          uge 41
          <button class="UgeBut UgeBut1" onclick="ShiftWeekForward()"></button>
          <button class="UgeBut UgeBut2" onclick="ShiftWeekBackward()"></button>
        </div>
        <div class="calSkel ExSys" id="hej">
          Exsys lektion 9
        </div>

        <div class="calSkel Aflevering">
          ExSys Aflevering 4
        </div>

        <div class="calSkel Møde">
          Gruppe møde
        </div>


        <div class="calSkel ExSys1">
          Exsys lektion 8
        </div>

        <div class="calSkel ExSys2">
          Exsys lektion 10
        </div>

        <div class="calSkel ExSys3">
          Exsys lektion 11
        </div>

        <div class="Z"></div>
        <div class="Z"></div>
        <div class="Z"></div>
        <div class="Z"></div>
        <div class="Z"></div>
        <div class="Z"></div>
        <div class="Z"></div>
        <div class="Z"></div>
        <div class="Z"></div>
        <div class="Z"></div>
        <div class="Z"></div>
        <div class="Z"></div>
        <div class="Z"></div>
        <div class="Z"></div>
        <div class="Z"></div>
        <div class="Z"></div>
        <div class="Z"></div>
        <div class="Z"></div>
        <div class="Z"></div>
        <div class="Z"></div>
        <div class="Z"></div>
        <div class="Z"></div>
        <div class="Z"></div>
        <div class="Z"></div>
        <div class="Z"></div>
        <div class="Z"></div>
        <div class="Z"></div>
        <div class="Z"></div>
        <div class="Z"></div>
        <div class="Z"></div>
        <div class="Z"></div>
        <div class="Z"></div>
        <div class="Z"></div>
        <div class="Z"></div>
        <div class="Z"></div>
        <div class="Z"></div>
        <div class="Z"></div>
        <div class="Z"></div>
        <div class="Z"></div>
        <div class="Z"></div>
        <div class="Z"></div>
        <div class="Z"></div>
        <div class="Z"></div>
        <div class="Z"></div>
        <div class="Z"></div>
        <div class="Z"></div>
        <div class="Z"></div>
        <div class="Z"></div>
        <div class="Z"></div>
        <div class="Z"></div>
      </div>
    </div>
  </div>

</body>

</html>