<!DOCTYPE html>
<html lang="en"></html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/grid.css') }}">
    <script defer src="{{ url_for('static', filename='/javascript/Javascript.js') }}"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoolStudent.net</title>
</head>

<body>
    <div class="navbar">

        <div class="home" id="home" >
            <a href="/">
                <img class="homeimg" src="{{ url_for('static', filename='/Bilder/home.svg') }}">
            </a>
        </div>
        <div class="exsys" onclick="window.location='/Exsys';" >
            <p>EXSYS</p>
        </div>
        <div class="comark" onclick="window.location='/ComArk';" >
            <p>COMARK</p>
        </div>
        <div class="stat" onclick="window.location='/Stat';">
            <p>STAT</p>
        </div>

        <style> 
            .stat{
                background-color: #f9fcfc;;
                color: #403F3F;
    
            }
            .topgab, .topgab1 , .topgab2 , .topgab3, .topgab4{
                background-color: #f9fcfc;
            }
    
            .home{
                background-color: #403F3F;
            }
    
            </style>


        <div class="menu">
            <img class="menuimg">
        </div>
        <a class="kalenderimg" href="/kalender">
            <img src="{{ url_for('static', filename='/Bilder/kalender.svg') }}">
        </a>
    </div>
    <div class="container">

        <div class="topgab"></div>
        <div class="topgab2"></div>
        <div class="topgab3"></div>
        <div class="topgab4"></div>
    </div>

    <img class=WIP src="static/Bilder/WIP1.png" alt="We doing work here soonish" width="600" height="600">

</body>
</html>